{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="text-center mt-3 mb-3">Inscription</h1>

            {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="d-flex justify-content-center mt-5 mb-5">
                    <div class="pr-5">
                        <input type="radio" name="roles" value="ROLE_BUYER" id="buyer">
                        <label for="buyer">Particulier</label>
                    </div>
                    <div>
                        <input type="radio" name="roles" value="ROLE_SELLER" id="seller">
                        <label for="seller">Entreprise</label>
                    </div>
                </div>
                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}

                <button type="submit" class="btn btn-success">Valider</button>
            {{ form_end(form) }}

{% endblock %}
