{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}

<div class="text-center">
    <h1>Contacts</h1>
</div>
{# ! TODO dynamisation  #}
<div class="d-flex justify-content-around flex-wrap">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ asset('images/marjo.png')}}" height="280" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Marjolaine</h5>
        <p class="card-text">Product Owner</p>
        <a href="#">marjo@owine.com</a>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ asset('images/maulde.png')}}" height="280" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Maulde</h5>
        <p class="card-text">Scrum Master</p>
        <a href="#">maulde@owine.com</a>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ asset('images/david.png')}}" height="280" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">David</h5>
        <p class="card-text">Lead Dev Front</p>
        <a href="#">david@owine.com</a>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ asset('images/zack.png')}}" height="280" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Zack</h5>
        <p class="card-text">Lead Dev Back</p>
        <a href="#">zack@owine.com</a>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ asset('images/lou.png')}}" height="280" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Lou</h5>
        <p class="card-text">Git Master</p>
        <a href="#">lou@owine.com</a>
    </div>
    </div>
</div>

{% endblock %}
