{% extends 'base.html.twig' %}

{% block title %}O'wine{% endblock %}

{% block body %}

{% if app.user %}
    <div class="text-center mt-5 mb-5">
        <h1>🍷 Welcome to O'wine {{ app.user.firstname }}! 🍷</h1>
    </div>
    {% else %}
    <div class="text-center mt-5 mb-5">
        <h1>🍷 Welcome to O'wine ! 🍷</h1>
    </div>
{% endif %}


{% if app.user %}
  {# -------------------------------------------------------- et qu'on est un seller -------------------------------- #}-
  {% if 'ROLE_SELLER' in app.user.roles %}
    {# alors on voit la homepage personnalisée pour le vendeur #}
    <div class="row row-cols-1 row-cols-md-3 d-flex align-items-stretch">
        <div class="col mb-4">
            <div class="card h-100 border-0">                
                <a href="#"><img src="{{ asset('images/profile.png')}}" class="card-img-top" alt="..." style="height: 350px;"></a>
                <div class="card-body">
                    <h5 class="card-title text-center">Profil de l'entreprise</h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">

            <div class="card h-100 border-0">
                <a href="{{ path('board') }}"><img src="{{ asset('images/dashboard-black.png')}}" class="card-img-top" alt="..." style="height: 350px;"></a>
                <div class="card-body">
                    <h5 class="card-title text-center">Dashboard</h5>
                </div>
            </div>

        </div>
        <div class="col mb-4">

            <div class="card h-100 border-0">
                <a href="#"><img src="{{ asset('images/shop.png')}}" class="card-img-top" alt="..." style="height: 350px;"></a>
                <div class="card-body">
                    <h5 class="card-title text-center">Ma boutique</h5>
                </div>
            </div>

        </div>
    </div>
    {% endif %}

    {# ----------------------------------------------------------- et qu'on est un buyer -------------------------------------------- #}
    {# {% if 'ROLE_BUYER' in app.user.roles %}
    {# alors on voit la homepage personnalisée pour le buyer #}
       {# <div class="card mb-3 m-auto">
            <div class="row no-gutters">
                <div class="col-md-12">
                    {% for company in companies %}
                    <div class="card-body">
                        <h2 class="card-title text-center">{{ company.name }}</h2>
                        <div class="row">
                            <div class="col-md-12">
                                <img src="{{ company.picture }}" class="mb-3 mr-3 rounded float-left mw-100" />
                                <p class="card-text">
                                {{ company.presentation }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %} 
                </div>
            </div>
        </div> #}

    {# !TODO à dynamiser #}
        {# <div class="mb-3 m-auto">
            <div class="d-flex justify-content-center align-items-end">
                <h2 class="text-center mt-3 mb-3">Sélection de produits</h2><i class="fas fa-wine-bottle mt-3 mb-3 ml-2 fa-5x" aria-hidden="true"></i>
            </div>
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Produit 1</h5>
                            <div class="d-flex justify-content-between">
                                <p class="card-text">Note</p>
                                <p class="card-text">Prix</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div> #}


    {% else %}
    {# --------------------------------------------------- Utilisateur non connecté ou acheteur en attente V206156 ----------------------------------- #}
    <div class="row row-cols-1 row-cols-md-3">
        {% for company in companies %}
        <div class="col mb-4">
            <div class="card h-100">
                <a href="{{ path('company_show',{'id': company.id}) }}"><img src="{{ company.picture }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title text-center"><a href="{{ path('company_show',{'id': company.id}) }}">{{ company.name }}</a></h5>
                    {% for i in 0..random(4) %}
                        <i class="fa fa-star" aria-hidden="true"></i>
                    {% endfor %}
                    <div class="d-flex justify-content-between">
                        <p class="card-text">{{ company.seller[0].zipcode }} - {{ company.seller[0].city }}</p>
                        <p>{{ company.seller[0].productsForSale[0].area }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endif %}
{% endblock %}
