{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
{# {{dump(products)}} #}

<h1 class="text-center mt-2 mb-5">Liste des produits</h1>
<div class="container m-0">
{% for product in products %}
<div class="ml-2 mr-2 border-bottom pb-3">
<div class="d-flex justify-content-around d-sm-inline ">
    <section col-sm-3>
        <img class="" src="#" alt="product's picture">
    </section>

    <section col-sm-9>
        <h3>{{product.appellation}}</h3>
        <strong><em>{{product.cuveeDomaine}}</em></strong>

        <div class="d-flex align-content-between">
            <p><em>Rate of the product</em></p> 
            <p class="ml-2"><strong>{{product.price}}€</strong></p>
        </div>
        <p >{{product.description}}</p>
        <button type="button" class="btn btn-primary"><a href="#">En savoir plus</button>
    </section>

</div>

</div>



{% endfor %}
</div>
{% endblock %}