{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
{# {{dump(products)}} #}

    <h1 class="text-center mt-2 mb-5">Liste des produits</h1>

    <div class="row row-cols-1 row-cols-md-3">
          {% for product in products %}
        <div class="col mb-4">
            <div class="card h-100">
                <a href="{{ path('product_show_shop', {'id': product.id}) }}"><img src="{{ product.picture }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                   <div class="d-flex justify-content-between">
                        <h5 class="card-title text-center"><a href="{{ path('product_show', {'id': product.id}) }}">{{product.appellation.name }}</a></h5>
                        <p>{{product.price}}€</p>
                    </div>
                    {% for i in 0..random(4) %}
                        <i class="fa fa-star" aria-hidden="true"></i>
                    {% endfor %}
                    <p class="card-text">{{product.cuveeDomaine}}</p>
                    <p>{{product.description|length > 100 ? product.description|slice(0, 70) ~ '(...)' : product.description}}</p>
                    <a href="{{ path('product_show_shop', {'id': product.id}) }}" class="btn btn-dark">Détails <i class="fa fa-search"></i></a></td>
                    <a href="#" class="btn btn-dark">Ajouter <i class="fa fa-shopping-cart"></i></a></td>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
