{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <a href="{{ path('product_list_shop') }}" class="btn btn-dark ml-4">Retour à la liste des produits</a>
    <h2 class="mt-4 ml-3">{{ product.appellation.name }}</h2>
        <div class="d-sm-flex">
            <div class="col-sm-6 ml-lg-3">
                <img src="{{ product.picture }}" class="mb-3 rounded mw-100"><br>
                {% for i in 0..random(4) %}
                <i class="fa fa-star" aria-hidden="true"></i>
                {% endfor %} - Voir les avis
                <p class="mt-2"><strong>Stock restant :</strong> <span id="stockQuantity">{{ product.stockQuantity }}</span></p>
            </div>
            <div>
                <p class="h4">{{ product.brand.name }}<br>
                {{ product.vintage }}</p>
                <p>{{ product.area }} <strong>-</strong> Vin {{ product.color.name }}</p>
                <hr>

                <p><strong>Type :</strong> <span class="badge badge-secondary badge-product">{{ product.type.name }}</span><br>
                <strong>Cuvée Domaine :</strong> {{ product.cuveeDomaine }}</p>
                <p><span class="h3">{{ product.price }} €</span><br>
                <span class="small">{{ product.capacity }} ml - {{ (product.price / product.capacity * 1000)|round(2) }}€ / L</span></p>
                <p>{{ product.alcoholVolume }}% d'alcool</p>
            </div>
        </div>
    <div class="d-inline-block">
    </div>
    <div class="d-md-flex align-items-center">
        <p class="col-md-7"><strong>Description :</strong> {{ product.description }}</p>
        {% if app.user and 'ROLE_BUYER' in app.user.roles %}
            <a class="btn btn-secondary col-md-4 shop__add-cart-btn" href="#" id="addToCart" data-toggle="modal" data-target="#myModal">Ajouter au panier</a>
        {% endif %}
   </div>


   <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" id="quantityForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Combien souhaitez-vous obtenir de ce délicieux vin</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                        <div class="modal-body text-center">
                                <input type="number" name="quantity" id="quantity" style="width: 60px;" max="{{ product.stockQuantity }}">
                                <span id="errorField"></span>
                        </div>
                    <div class="modal-footer">
                        <a id="addCartBtn" class="btn btn-dark" href="{{ path('add_cart',{'productId': product.id, 'quantity': 0}) }}">Ajouter au panier</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/cart.js') }}"></script>
{% endblock %}