{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">{{ product.appellation }}</h1>

    <a href="{{ path('products_list') }}" class="btn btn-dark ml-4">Retour à la liste des produits</a>

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ product.picture }}" class="mb-3 mr-3 rounded float-left mw-100">
                <div class="card-text">
                    <p><strong>Provenance :</strong> {{ product.area }}</p>
                    <p><strong>Type du vin :</strong> {{ product.type.name }}</p>
                    <p><strong>Cuvée Domaine :</strong> {{ product.cuveeDomaine }}</p>
                    <p><strong>Volume :</strong> {{ product.capacity }} ml </p>
                    <p><strong>Date :</strong> {{ product.vintage }}</p>
                    <p><strong>Couleur :</strong> {{ product.color.name }}</p>
                    <p><strong>Alcool :</strong> {{ product.alcoholVolume }}%</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        {% for i in 0..random(4) %}
        <i class="fa fa-star" aria-hidden="true"></i>
        {% endfor %}
        <p><strong>Prix :</strong> {{ product.price }} euros</p>
        <p><strong>Description :</strong> {{ product.description }}</p>
        <p><strong>Code douanier :</strong> {{ product.hsCode }}</p>
        <p><strong>Status :</strong> {{ product.status }}</p>
        <p><strong>Quantité en stock :</strong> {{ product.stockQuantity }}</p>
    </div>
   
{% endblock %}
