<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title>{% block title %}O'wine{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- FontAwesome -->
        <link rel="stylesheet" href="{{ asset('css/font-awesome/css/all.css')}}">
        <!-- Font Cooper Hewitt-->
        <link href="https://fr.allfont.net/cache/css/cooperhewitt-light.css" rel="stylesheet" type="text/css" />
        <link href="https://fr.allfont.net/cache/css/cooperhewitt-book.css" rel="stylesheet" type="text/css" />
        <!-- Font Quattrocento -->
        <link href="https://fonts.googleapis.com/css2?family=Quattrocento&display=swap" rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" href="{{ asset('css/style.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg">
            
            <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('images/logoOwineBurgundry.png') }}" height="30" class="d-inline-block align-top mr-1">O'wine</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ path('homepage') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                {# Si on est connecté #}
                {% if app.user %}
                  {# et qu'on est un seller #}
                  {% if 'ROLE_SELLER' in app.user.roles %}
                    {# alors on voit le lien vers le tableau de bord  #}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ path('board') }}">Tableau de bord</a>
                    </li>
                  {% endif %}
                {% endif %}

                <li class="nav-item">
                  <a class="nav-link" href="{{ path('company_index') }}">Caveaux</a>
                </li>

                 <li class="nav-item">
                  <a class="nav-link" href="{{ path('products_list') }}">Produits</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" href="#">Commandes</a>
                </li>
                {# Si on est connecté #}
                {% if app.user %}
                  {# et qu'on est un seller #}
                  {% if 'ROLE_BUYER' in app.user.roles %}
                    {# alors on voit le lien vers le tableau de bord  #}
                 <li class="nav-item">
                  <a class="nav-link" href="{{ path('cart_buyer',{'id': (app.user.id)}) }}">Panier</a>
                </li>
                {% endif %}
              {% endif %}
              </ul>

              {% if app.user %}
                <div class="mr-3" id="login-name">
                  Bonjour {{ app.user.firstname }} <a href="{{ path('app_logout') }}" class="btn btn-dark">Déconnexion</a>
                </div>
                {% else %}
                <div class="mr-3">
                  <a href="{{ path('app_register') }}" class="btn btn-dark">Inscription</a>
                </div>
                <div class="mr-3">
                  <a href="{{ path('app_login') }}" class="btn btn-dark">Connexion</a>
                </div>
               {% endif %}
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
                <button class="btn btn-dark my-2 my-sm-0" type="submit">Rechercher</button>
              </form>
            </div>
          </nav>
          
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            
         <div class="container mt-5 mb-5">
            {% block body %}{% endblock %}
         </div>
            
        <footer id="footer" class="footer">
          {% block footer %}
            {% include "_footer.html.twig"%}
          {% endblock %}
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
