{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<h1 class="text-center">Bienvenue sur ton tableau de bord {{ app.user.firstname }} </h1>
<div class="container">
    <div class="d-flex justify-content-around">
        <ul class="nav nav-pills">
            <li class="active mr-3"><a href="#products" data-toggle="pill" class="btn btn-dark">Voir mes produits</a></li>
            <li class="active"><a href="#orders" data-toggle="pill" class="btn btn-dark">Voir mes commandes</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="products" class="tab-pane fade in active">
            {# TABLEAU DES PRODUITS #}
            <h2>Mes produits :</h2>
            <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Appellation</th>
                <th scope="col">Type</th>
                <th scope="col">Couleur</th>
                <th scope="col">Prix</th>
                <th scope="col">Code barre</th>
                <th scope="col">Stock</th>
                </tr>
            </thead>
            <tbody>
            {% for product in app.user.productsForSale %}
                <tr>
                <td>{{ product.appellation }}</td>
                <td>{{ product.type }}</td>
                <td>{{ product.color }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.hsCode }}</td>
                <td>{{ product.stockQuantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        
        <div id="orders" class="tab-pane fade in active">
            {# TABLEAU DES COMMANDES #}
            <h2>Mes commandes :</h2>
            <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Numéro de commande</th>
                <th scope="col">Prix</th>
                <th scope="col">Client</th>
                </tr>
            </thead>
            <tbody>
            {% for order in app.user.receivedOrders %}
                <tr>
                <td>{{ order.trackingNumber }}</td>
                <td>{{ order.totalAmount }}</td>
                <td>{{ order.buyer.firstname ~ ' ' ~ order.buyer.lastname }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
